@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

header .logo{
    position: relative;
    color: rgb(177, 175, 175);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header .logo:hover{
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
   
}

header .menu a{
    color: rgb(177, 175, 175);
    text-decoration: none;
    font-weight:  500;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;

}

header .menu a:hover{
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
   
}

.icons{
    display: none;
   
}




@media (max-width: 700px){
   .menu{
        display: none;
   }

   
.show{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;


}

    .icons{
        display: block;
    }

    .icons i{
        padding: 10px;
        font-size: 20px;
        color: rgb(177, 175, 175);
        
    }
    .icons i:hover{
        color: white;
        cursor: pointer;
    }
}